name: Deploy Sphinx documentation to Pages

on:
  workflow_dispatch:  # Allows manual triggering of the workflow

jobs:
  pages:
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: https://valinsky.github.io/bloxplorer/
    permissions:
      pages: write
      id-token: write
    steps:
    - id: deployment
      uses: sphinx-notes/pages@v3
